Men's Shoes Data cleaning project

About the Data-set

Welcome to Datafiniti's Men's Shoe Pricing Database!
This database contains 10,000 men's shoes with detailed information on brand,
price, availability, colours, manufacturers and more

In [2]:
# Importing nessesary python libraries

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [3]:
#Loading the dataset

df = pd.read_csv("Mens_Shoes.csv")
df.head()

,id,brand,categories,colors,dateUpdated,manufacturer,manufacturerNumber,merchants,name,prices.amountMax,prices.condition,prices.isSale,prices.merchant,prices.offer,prices.shipping,sizes,weight
0,AVpfHrJ6ilAPnD_xVXOI,Josmo,"Clothing,Shoes,Men's Shoes,All Men's Shoes",NaN,2016-11-07T00:45:12Z,NaN,8190-W-NAVY-7.5,"[{""dateSeen"":[""2016-11-07T00:45:12Z""],""name"":""...","Josmo 8190 Plain Infant Walking Shoes, Navy - ...",39.89,NaN,TRUE,NaN,REDUCED USD 12.10,NaN,NaN,NaN
1,AVpfHrJ6ilAPnD_xVXOI,Josmo,"Clothing,Shoes,Men's Shoes,All Men's Shoes",NaN,2016-11-07T00:45:12Z,NaN,8190-W-NAVY-7.5,"[{""dateSeen"":[""2016-11-07T00:45:12Z""],""name"":""...","Josmo 8190 Plain Infant Walking Shoes, Navy - ...",51.99,new,FALSE,UnbeatableSale - Walmart.com,REDUCED USD 12.10,NaN,NaN,NaN
2,AVpfHsWP1cnluZ0-eVZ7,SERVUS BY HONEYWELL,"All Men's Shoes,Shoes,Men's Shoes,Clothing",NaN,2016-07-09T20:26:48Z,NaN,ZSR101BLMLG,"[{""dateSeen"":[""2016-06-14T04:29:57Z""],""name"":""...",Servus By Honeywell Shoe Studs Zsr101blmlg,40.02,new,FALSE,SIM Supply Inc - Walmart.com,NaN,NaN,NaN,NaN
3,AVpfHsWP1cnluZ0-eVZ7,SERVUS BY HONEYWELL,"All Men's Shoes,Shoes,Men's Shoes,Clothing",NaN,2016-07-09T20:26:48Z,NaN,ZSR101BLMLG,"[{""dateSeen"":[""2016-06-14T04:29:57Z""],""name"":""...",Servus By Honeywell Shoe Studs Zsr101blmlg,50.31,new,FALSE,SIM Supply Inc - Walmart.com,NaN,NaN,NaN,NaN
4,AVpfHsWP1cnluZ0-eVZ7,SERVUS BY HONEYWELL,"All Men's Shoes,Shoes,Men's Shoes,Clothing",NaN,2016-07-09T20:26:48Z,NaN,ZSR101BLMLG,"[{""dateSeen"":[""2016-06-14T04:29:57Z""],""name"":""...",Servus By Honeywell Shoe Studs Zsr101blmlg,46.26,new,FALSE,SIM Supply Inc - Walmart.com,NaN,NaN,NaN,NaN

In [6]:
 # Checking the dimesion of the dataset
df.shape

(19315, 17)

In [8]:
#Checking the information about the data-set
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19315 entries, 0 to 19314
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  19315 non-null  object
 1   brand               19057 non-null  object
 2   categories          19315 non-null  object
 3   colors              11013 non-null  object
 4   dateUpdated         19315 non-null  object
 5   manufacturer        6663 non-null   object
 6   manufacturerNumber  15087 non-null  object
 7   merchants           13968 non-null  object
 8   name                19315 non-null  object
 9   prices.amountMax    19315 non-null  object
 10  prices.condition    12612 non-null  object
 11  prices.isSale       19305 non-null  object
 12  prices.merchant     13778 non-null  object
 13  prices.offer        6031 non-null   object
 14  prices.shipping     5726 non-null   object
 15  sizes               5968 non-null   object
 16  weight              855 non-null    object
dtypes: object(17)
memory usage: 2.5+ MB

In [10]:
# checking number of null values each column contains
df.isnull().sum()

id                        0
brand                   258
categories                0
colors                 8302
dateUpdated               0
manufacturer          12652
manufacturerNumber     4228
merchants              5347
name                      0
prices.amountMax          0
prices.condition       6703
prices.isSale            10
prices.merchant        5537
prices.offer          13284
prices.shipping       13589
sizes                 13347
weight                18460
dtype: int64

In [13]:
# To find the percentage of null values
null_pct = df.isnull().sum()/df.shape[0]*100 
null_pct

id                     0.000000
brand                  1.335749
categories             0.000000
colors                42.982138
dateUpdated            0.000000
manufacturer          65.503495
manufacturerNumber    21.889723
merchants             27.683148
name                   0.000000
prices.amountMax       0.000000
prices.condition      34.703598
prices.isSale          0.051773
prices.merchant       28.666839
prices.offer          68.775563
prices.shipping       70.354647
sizes                 69.101734
weight                95.573389
dtype: float64

In [17]:
# columns which contain null values more than 70%
drop_column = null_pct[null_pct>70].keys()

In [42]:
#drop columns which cointain 70% of null values
#drop columns that have no use for analysis
df2 = df.drop(columns = drop_column)
drop_column

Index(['prices.shipping', 'weight'], dtype='object')

In [43]:
df2.shape

(19315, 15)

In [39]:
#all columns that did not meet the less than 70% null values have been dropped
df2.isnull().sum()

id                        0
brand                   258
categories                0
colors                 8302
dateUpdated               0
manufacturer          12652
manufacturerNumber     4228
name                      0
prices.amountMax          0
prices.condition       6703
prices.isSale            10
sizes                 13347
dtype: int64

In [23]:
# Deleting the rows that contains null values.
df3= df2.dropna()

In [24]:
# Null row values have been removed
df3.isnull().sum()

id                    0
brand                 0
categories            0
colors                0
dateUpdated           0
manufacturer          0
manufacturerNumber    0
merchants             0
name                  0
prices.amountMax      0
prices.condition      0
prices.isSale         0
prices.merchant       0
prices.offer          0
sizes                 0
dtype: int64

In [40]:
# Renaming columns so they have descriptive names

df4 = df3.rename(columns= {'manufacturerNumber':'manufacturer_Id','name':'Shoe_type','prices.amountMax':'prices',
                          'prices.condition':'Shoe_condition','prices.isSale':'price_status','dateUpdated':'date'})

In [41]:
df4

,id,brand,categories,colors,date,manufacturer,manufacturer_Id,merchants,Shoe_type,prices,Shoe_condition,price_status,prices.merchant,prices.offer,sizes
29,AVpfDweJilAPnD_xUBrV,Filament,"All Men's Shoes,Shoes,Men's Shoes,Clothing",Beige,2017-01-12T05:26:56Z,Filament,F161005-029,"[{""dateSeen"":[""2017-01-12T05:26:56Z""],""name"":""...",Filament Metric Men Round Toe Suede Skate Shoe,13.99,new,TRUE,ApparelSave - Walmart.com,CLEARANCE USD 49.01,7
30,AVpfDweJilAPnD_xUBrV,Filament,"All Men's Shoes,Shoes,Men's Shoes,Clothing",Beige,2017-01-12T05:26:56Z,Filament,F161005-029,"[{""dateSeen"":[""2017-01-12T05:26:56Z""],""name"":""...",Filament Metric Men Round Toe Suede Skate Shoe,23.99,new,TRUE,ApparelSave - Walmart.com,CLEARANCE USD 39.01,7
31,AVpfDweJilAPnD_xUBrV,Filament,"All Men's Shoes,Shoes,Men's Shoes,Clothing",Beige,2017-01-12T05:26:56Z,Filament,F161005-029,"[{""dateSeen"":[""2017-01-12T05:26:56Z""],""name"":""...",Filament Metric Men Round Toe Suede Skate Shoe,22.99,new,TRUE,ApparelSave - Walmart.com,CLEARANCE USD 40.01,7
43,AVpfElTsLJeJML431wPt,Robert Wayne,"Men's Casual Shoes,Shoes,Men's Shoes,Clothing",Beige,2017-01-12T06:13:15Z,Robert Wayne,HIGHWAY-WINSAN,"[{""dateSeen"":[""2017-01-12T06:13:15Z""],""name"":""...",Robert Wayne Highway Men Round Toe Canvas Lo...,110,new,FALSE,ApparelSave - Walmart.com,CLEARANCE USD 66.02,"11.5,13,11,12"
44,AVpfElTsLJeJML431wPt,Robert Wayne,"Men's Casual Shoes,Shoes,Men's Shoes,Clothing",Beige,2017-01-12T06:13:15Z,Robert Wayne,HIGHWAY-WINSAN,"[{""dateSeen"":[""2017-01-12T06:13:15Z""],""name"":""...",Robert Wayne Highway Men Round Toe Canvas Lo...,24.99,new,TRUE,ApparelSave - Walmart.com,CLEARANCE USD 85.01,"11.5,13,11,12"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19261,AVpf3wl0LJeJML43FOub,Sanuk,"Men's Dress Shoes,Shoes,Men's Shoes,Clothing",Gray,2017-01-09T20:23:42Z,Sanuk,SMF1054-CHRC,"[{""dateSeen"":[""2017-01-09T20:23:42Z""],""name"":""...",Sanuk Vagabond Chill Moc Toe Canvas Loafer,46.99,new,TRUE,ApparelSave - Walmart.com,REDUCED USD 38.01,"10,7,9,8,11"
19266,AVpfdUEFLJeJML439jYN,Tretorn,"All Men's Shoes,Shoes,Men's Shoes,Clothing",Blue,2016-11-15T12:58:48Z,Tretorn,473175 02,"[{""dateSeen"":[""2016-11-15T12:58:48Z""],""name"":""...",Tretorn Racket H Low Men Round Toe Canvas Blu...,95,new,FALSE,ApparelSave - Walmart.com,CLEARANCE USD 81.01,"10.5,8.5,10,7,9.5,7.5,9,11.5,8,13,11,12"
19267,AVpfdUEFLJeJML439jYN,Tretorn,"All Men's Shoes,Shoes,Men's Shoes,Clothing",Blue,2016-11-15T12:58:48Z,Tretorn,473175 02,"[{""dateSeen"":[""2016-11-15T12:58:48Z""],""name"":""...",Tretorn Racket H Low Men Round Toe Canvas Blu...,16.99,new,TRUE,ApparelSave - Walmart.com,CLEARANCE USD 78.01,"10.5,8.5,10,7,9.5,7.5,9,11.5,8,13,11,12"
19268,AVpfdUEFLJeJML439jYN,Tretorn,"All Men's Shoes,Shoes,Men's Shoes,Clothing",Blue,2016-11-15T12:58:48Z,Tretorn,473175 02,"[{""dateSeen"":[""2016-11-15T12:58:48Z""],""name"":""...",Tretorn Racket H Low Men Round Toe Canvas Blu...,24.98,new,TRUE,ApparelSave - Walmart.com,CLEARANCE USD 70.02,"10.5,8.5,10,7,9.5,7.5,9,11.5,8,13,11,12"
19309,AVpfdSjIilAPnD_xcGPY,Roper,"All Men's Shoes,Shoes,Men's Shoes,Clothing",Bay Brown,2017-01-12T06:13:42Z,Roper,09-020-0601-8206 BR,"[{""dateSeen"":[""2017-01-12T06:13:42Z""],""name"":""...",Roper Western Shoes Mens Wide Slip On Brown 09...,94,new,FALSE,ApparelSave - Walmart.com,CLEARANCE USD 59.01,"8.5 W,7 W"

In [47]:
#Dropping irrelevent columns
df5 = df4.drop(columns=['prices.merchant','prices.offer','merchants'])
df5.shape

(941, 12)

,id,brand,categories,colors,date,manufacturer,manufacturer_Id,Shoe_type,prices,Shoe_condition,price_status,sizes
29,AVpfDweJilAPnD_xUBrV,Filament,"All Men's Shoes,Shoes,Men's Shoes,Clothing",Beige,2017-01-12T05:26:56Z,Filament,F161005-029,Filament Metric Men Round Toe Suede Skate Shoe,13.99,new,TRUE,7
30,AVpfDweJilAPnD_xUBrV,Filament,"All Men's Shoes,Shoes,Men's Shoes,Clothing",Beige,2017-01-12T05:26:56Z,Filament,F161005-029,Filament Metric Men Round Toe Suede Skate Shoe,23.99,new,TRUE,7
31,AVpfDweJilAPnD_xUBrV,Filament,"All Men's Shoes,Shoes,Men's Shoes,Clothing",Beige,2017-01-12T05:26:56Z,Filament,F161005-029,Filament Metric Men Round Toe Suede Skate Shoe,22.99,new,TRUE,7
43,AVpfElTsLJeJML431wPt,Robert Wayne,"Men's Casual Shoes,Shoes,Men's Shoes,Clothing",Beige,2017-01-12T06:13:15Z,Robert Wayne,HIGHWAY-WINSAN,Robert Wayne Highway Men Round Toe Canvas Lo...,110,new,FALSE,"11.5,13,11,12"
44,AVpfElTsLJeJML431wPt,Robert Wayne,"Men's Casual Shoes,Shoes,Men's Shoes,Clothing",Beige,2017-01-12T06:13:15Z,Robert Wayne,HIGHWAY-WINSAN,Robert Wayne Highway Men Round Toe Canvas Lo...,24.99,new,TRUE,"11.5,13,11,12"

In [49]:
df5.dtypes

id                 object
brand              object
categories         object
colors             object
date               object
manufacturer       object
manufacturer_Id    object
Shoe_type          object
prices             object
Shoe_condition     object
price_status       object
sizes              object
dtype: object

In [54]:
#Changing data types of columns to the correct type

column_datatype = {
    'brand': str,
    'categories': str,
    'manufacturer': str,
    'colors': str,
    'Shoe_type': str,
    'prices': float,
    'Shoe_condition': str,
    'date':'datetime64',
}

df6 = df5.astype(column_datatype)

df6.dtypes

id                         object
brand                      object
categories                 object
colors                     object
date               datetime64[ns]
manufacturer               object
manufacturer_Id            object
Shoe_type                  object
prices                    float64
Shoe_condition             object
price_status               object
sizes                      object
dtype: object